*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fundo{
    position: relative;
    background-color: #99ced8;
    width: 960px;
    height: 700px;
    margin: auto;
    
}




#topo
{
    position: relative;
    width: 960px;
    height: 150px;
    background-color: #00ff95;
    color: #000000;
    text-align: center;
    padding: 40px;
    z-index: 2;
}
#conteudo
{
    position: absolute;
    width: 500px;
    height: 500px;
    text-align: left;
    left: 200px;

    background-color: #797979;
    color: #000000;
    padding: 40px;
    z-index: 2;
}
#quadrado1
{
    position: absolute;
    width: 245px;
    height: 200px;
    background-color: #ffffff;
    left: 705px;
    top: 150px;
    z-index: 1;
}
#quadrado2
{
    position: absolute;
    width: 245px;
    height: 200px;
    background-color: #ffffff;
    left: 705px;
    top:360px;
    z-index: 1;
}
#rodape
{
    position: absolute;
    width: 960px;
    height: 5px;
    background-color: #00a2ff;
    color: #000000;
    padding: 40px;
    top: 650px;
    z-index: 2;
}
#imagens
{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 560px;
    top: 550px;
    z-index: 3;
}